@font-face {
    font-family: KulachatSlabBold;
    src: url(./fonts/KulachatSlab-Bold.ttf);
    font-weight: 500;
}

.body  {
    background-color: white;
}

.title {
    font-family: KulachatSlabBold;  
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.stat {
    font-family: KulachatSlabBold;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    z-index: 100;
}

.clicker {
    align-items: center;
}

.click-me {
    display: grid;
    align-items: center;
    font-size: 80px;
}