@font-face {
    font-family: FCMinimalRegular;
    src: url(../fonts/badstudentv4-regular.woff2);
    font-weight: 300;
}

@font-face {
    font-family: FCMinimalMedium;
    src: url(../fonts/badstudentv4-medium.woff2);
    font-weight: 400;
}

@font-face {
    font-family: FCMinimalBold;
    src: url(../fonts/badstudentv4-bold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Adirek;
    src: url(../fonts/Adirek-Slab-Lite-Bold.woff2);
    font-weight: 500;
}

.html, body  {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 98%;
}

.leftcol {
    /*flex-basis: 50%;*/
    /*background: linear-gradient(180deg, #ffff 0%, #f38020 100%);*/
    justify-content: center;
    align-items: center;
    
}
  
.rightcol {
    /*flex-basis: 50%;*/
    /*background: linear-gradient(180deg, #ffff 0%, #3aade3 100%);*/
    justify-content: center;
    align-items: center;
}   

.countHead {
    font-size: 130px;
    font-family: Adirek;
    text-align: center;
    margin-top: 170px;
}

.countHead.left {
    /*color: #f38020;*/
}

.countHead.right {
    /*color: #3aade3;*/
}

.candidateName {
    font-size: 30px;
    font-family: FCMinimalRegular;
    text-align: center;
    margin-top: 1px;
}

.center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
  }

  .bottom-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1%);   
    max-width: 280px;
  }

  .candidateimg {
    position: relative;
    max-height: 100%;
    height: auto;
    width: 100%;
    margin-top: 440px;
    left: 13%
  }
  
.candidateimg img {
    display: block;
    position: relative;
    max-height: 100%;
    width: 325px;
}